* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: black;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#pagina-mobile {
    display: block;
}
#pagina-desktop {
    display: none;
}
.nav-mobile {
    width: 100%;
    height: 320px;
    background-size: 100% 100%;
    margin-top: 12px;
    object-fit: cover;
    animation: banner 15s infinite;
}
@keyframes banner {
    0%,25% {
        background-image: url(/img/index/banner/banner1.jpg);
    }
    27%, 50% {
        background-image: url(/img/index/banner/banner2.jpg);
    }
    52%,75% {
        background-image: url(/img/index/banner/banner3.jpg);
    }
    77%,100% {
        background-image: url(/img/index/banner/banner4.jpg);
    }
}
    .header-logo-info {
        display: flex;
        flex-direction: column;
        gap: 5px;
        font-size: 16px;
        color: white;
        margin-left: 5px;
        line-height: 1.4em;
        background: radial-gradient(rgb(19, 18, 18) 10%, black);
    }
    #logo {
        font-size: 40px;
        font-weight: 700;
        margin: 15px 0;
        margin-top: 15px;
        color: white;
        font-family: 'Pacifico', cursive;
        text-shadow: 2px 3px 3px black;
    }
        .header-info {
            display: flex;
            align-items: flex-start;
            gap: 7px;
        }
        .info-header-icon {
            width: 15px;
        }

    .hamburguesa-sociales {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.7);
        padding: 0 7px;
        width: 100%;
        height: 20%;
    }
        .hamburguesa-icon {
            width: 32px;
            margin-left: 5px;
            cursor: pointer;
        }
        .social-icon {
            width: 32px;
            margin-right: 5px;
            margin: 0 5px;
        }
    .menu-desplegado {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px 0;
        font-size: 21px;
        width: 100%;
        height: auto;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.7);
    }
        .ocultar-menu-desplegado {
            display: none;
        }
    .menu-desplegado li {
        list-style: none;
        padding: 15px 0;
    }
    .menu-desplegado li:hover {
        background-color:rgb(129, 97, 16, 0.5);
     }
    .menu-desplegado li a {
        color: white;
        text-decoration: none;
    }
    .container-main {
        width: 100%;
        height: 350px;
        margin: 30px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url(/img/index/fondos/abstracto-main.jpg);
    }
    .main {
        width: 80%;
        color: white;
        background-color: rgba(0, 0, 0, 0.9);
        padding: 30px 20px;
        text-align: center;
        border-radius: 20px;
    }
    .main h1 {
        font-size: 30px;
        line-height: 1.7em;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    .main h1 span {
        background-color: rgba(250, 250, 250, 0.2);
        color: rgba(250, 250, 250, 1);
        padding: 2px 10px;
        border-radius: 10px;
        font-size: 32px;
        font-family: 'Pacifico', cursive;
        text-shadow: 2px 3px 3px black;
    }
    .main p {
        font-size: 17px;
        padding-top: 15px;
        line-height: 1.4em;
    }

    .especialidades {
        padding-bottom: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .especialidades img{
        width: 100%;
        height: 350px;
        object-fit: cover;
    }
    .especialidades h2 {
        padding-top: 50px;
        padding-bottom: 12px;
        font-size: 32px;
        text-align: center;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    .especialidades button {
        border: none;
        border-style: none;
        border-radius: 10px;
        padding: 18px;
        font-size: 20px;
        background-color:rgb(129, 97, 16);
        color: rgb(255, 255, 255);
        font-weight: 700;
        margin-top: 12px;
        width: 37%;
        cursor: pointer;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    .especialidades button:hover {
        color:rgb(129, 97, 16);
        background-color: rgb(255, 255, 255);
    }

    .platos {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5px 0;
        width: 100%;
    }
    .platos h3 {
        font-size: 26px;
        border-top: 2px solid white;
        border-bottom: 2px solid white;
        padding: 10px;
        margin: 5px;
        width: 100%;
        text-align: center;
        cursor: pointer;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    .plato1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
        margin-top: 30px;
        line-height: 1.3em;
    }
    .plato1 h4 {
        font-size: 25px;
        margin-top: 10px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    .plato1 p {
        padding: 0px 60px;
        text-align: center;
        font-size: 17px;
    }
        .ocultar-platos1 {
            display: none;
        }
        .ocultar-flecha-platos {
            display: none;
        }
    .plato2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
        margin-top: 30px;
        line-height: 1.3em;
    }
    .plato2 h4 {
        font-size: 25px;
        margin-top: 10px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    .plato2 p {
        padding: 0px 60px;
        text-align: center;
        font-size: 17px;
    }
        .ocultar-platos2 {
            display: none;
        }
        .ocultar-flecha-cocktails {
            display: none;
        }
    .cocktails {
        margin-top: 30px;
    }
    .al-final {
        padding-bottom: 30px;
    }

    .footer-mobile {
        background-color: white;
        color: black;
        margin-top: 0px;
        padding-top: 70px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
        font-size: 17px;
        line-height: 2em;
    }
    .footer-mobile h5 {
        margin-bottom: 15px;
        font-size: 27px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    .footer-mobile a {
        text-decoration: none;
        color: black;
    }
    .ubicacion {
        margin: 0 5px;
    }
    .email {
        display: flex;
        gap: 5px;
        align-items: center;
        justify-content: center;
        padding-bottom: 20px;
    }
    .derechos {
        background-color: black;
        color: white;
        width: 100%;
        padding: 20px 30px;
        font-size: 15px;
    }   
    @media screen and (min-width: 550px) {
        #pagina-desktop {
            display: none;
        }
        .nav-mobile {
            height: 380px;
        }
    }
    @media screen and (min-width: 631px) {
        #pagina-desktop {
            display: none;
        }
        .main {
            padding: 50px 20px;
        }
    }
    @media screen and (min-width: 700px) {
        #pagina-desktop {
            display: none;
        }
        #logo {
            font-size: 43px;
        }
        .header-logo-info {
            gap: 9px;
            font-size: 18px;
            margin-left: 10px;
        }
            .header-info {
                gap: 10px;
            }
            .hamburguesa-sociales {
                padding: 0 10px;
            }
                .hamburguesa-icon {
                    width: 35px;
                }
                .social-icon {
                    width: 35px;
                    margin-right: 10px;
                    margin: 0 8px;
                }
            .menu-desplegado {
                padding: 0px 0;
                font-size: 24px;
            }
            .menu-desplegado li {
                padding: 17px 0;
            }
        .nav-mobile {
            height: 480px;
        }
        .main h1 {
        font-size: 34px;
        }
        .main h1 span {
            padding: 7px 17px;
            border-radius: 10px;
            font-size: 34px;
        }
        .main p {
            font-size: 19px;
            padding-top: 18px;
        }

        .especialidades {
            padding-bottom: 60px;
            width: 100%;
        }
        .especialidades img{
            width: 100%;
            height: 400px;
            object-fit: cover;
        }
        .especialidades h2 {
            padding-top: 60px;
            padding-bottom: 18px;
            font-size: 34px;
        }
        .especialidades button {
            padding: 20px;
            font-size: 24px;
            margin-top: 18px;
        }
        .especialidades button:hover {
            color:rgb(129, 97, 16);
            background-color: rgb(255, 255, 255);
        }
        .platos {
            margin: 10px 0;
        }
        .platos h3 {
            font-size: 30px;
            border-top: 3px solid white;
            border-bottom: 3px solid white;
            padding: 15px;
            margin: 10px;
            width: 100%;
        }
        .plato1 {
            gap: 20px;
        }
        .plato1 h4 {
            font-size: 27px;
            margin-top: 12px;
        }
        .plato1 p {
            padding: 0px 70px;
            font-size: 19px;
        }
        .plato2 {
            gap: 20px;
        }
        .plato2 h4 {
            font-size: 27px;
            margin-top: 12px;
        }
        .plato2 p {
            padding: 0px 70px;
            font-size: 19px;
        }
        .footer-mobile {
            padding-top: 80px;
            gap: 60px;
            font-size: 19px;
        }
        .footer-mobile h5 {
            margin-bottom: 20px;
            font-size: 30px;
        }
        .ubicacion {
            margin: 0 12px;
        }
        .email {
            gap: 12px;
            padding-bottom: 35px;
        }
        .derechos {
            padding: 30px 30px;
            font-size: 17px;
        }
    }
    @media screen and (min-width: 860px) {
        #pagina-desktop {
            display: none;
        }
        .nav-mobile {
            height: 500px;
        }
    }
    @media screen and (min-width: 900px) {
        #pagina-mobile {
            display: none;
        }
        #pagina-desktop {
            display: block;
        }
    }

    @media screen and (min-width: 1000px) {
    #pagina-desktop {
        display: block;
    }
    .header-banner {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100vh;
        background-size: 100% 100%;
        object-fit: cover;
        animation: banner-desktop 15s infinite;
    }
    .header-banner::after {
        content: "YourSite siempre es la mejor opción";
        font-size: 45px;
        background-color: rgb(0, 0, 0, 0.4);
        width: 100%;
        height: 100%;
        font-family: 'Pacifico', cursive;
        display: flex;
        justify-content: center;
        padding-top: 12%;
        text-shadow: 2px 3px 3px black;
        letter-spacing: 1px;
    }
    @keyframes banner-desktop {
        0%,25% {
            background-image: url(/img/index/banner/banner1.jpg);
        }
        27%, 50% {
            background-image: url(/img/index/banner/banner2.jpg);
        }
        52%,75% {
            background-image: url(/img/index/banner/banner3.jpg);
        }
        77%,100% {
            background-image: url(/img/index/banner/banner4.jpg);
        }
    }
    .container-logo-e-info {
        display: flex;
        justify-content: center;
        width: 100%;
        background-color: rgb(0, 0, 0, 0.6);
    }
    .logo-ubicacion-telefono {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        font-size: 18px;
    }
        #logo-desktop {
            font-family: 'Pacifico', cursive;
            font-size: 45px;
            text-shadow: 2px 3px 3px black;
        }
    .ubicacion-telefono {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .ubicacion {
        display: flex;
        gap: 7px;
    }
    .telefono {
        display: flex;
        gap: 7px;
    }

    /*COMIENZA LA NAV-BAR*/

    .container-nav-socials {
        display: flex;
        width: 100%;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.9)
    }
    .nav-socials {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        font-size: 18px;
    }
    .nav-desktop {
        display: flex;
        list-style: none;
    }
    .nav-desktop a {
        padding: 10px;
        text-decoration: none;
        color: white;
    }
        .nav-desktop a:hover {
            background-color: rgb(129, 97, 16, 0.7);
        }
    .social-icons-desktop {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 8%;
        gap: 15px;
    }

    /*COMIENZA EL MAIN*/

    .container-main-desktop {
        width: 100%;
        height: 400px;
        margin: 40px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url(/img/index/fondos/abstracto-main.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .main-desktop {
        width: 80%;
        background-color: rgba(0, 0, 0, 0.9);
        color: white;
        text-align: center;
        padding: 50px 80px;
        border-radius: 20px;
    }
    .main-desktop h1 {
        font-size: 40px;
        line-height: 1.7em;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    .main-desktop h1 span {
        background-color: rgba(250, 250, 250, 0.2);
        color: rgba(250, 250, 250, 1);
        padding: 2px 20px;
        border-radius: 10px;
        font-size: 40px;
        font-weight: 700;
        font-family: 'Pacifico', cursive;
        text-shadow: 2px 3px 3px black;
    }
    .main-desktop p {
        font-size: 24px;
        line-height: 1.4em;
        padding-top: 10px;
    }
    /*COMIENZAN LAS ESPECIALIDADES*/
    

}

